<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title> Temperatura by zip code</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
        <link rel= "stylesheet" href="/main.js">
        <style>
            
        </style>
    </head>
    <body>