<% include header%>
<h1> Cual es tu codigo postal?</h1>
<form class= " pure-form">
    <fieldset> 
        <input type= " number" name= "zip " placeholder=" 123456" autofocus required>
        <input type= "submit" class = " pure-bottom pure-buttom-primary" value= "go" > 
    </fieldset> 
</form>
<scrip src= "/main.js">
<% include footer%>