<%include _header%>
  

    <h1>
        <%=arma.descripcion%>
    </h1>
    <hr>
    <h2>
        <%=arma.fuarza%>
    </h2>
    <h3>
        <%=arma.categoria%>
    </h3>
    <h4>
        <%=arma.municion%>
    </h4>


<%include _footer%>